<div class="jumbotron jumbotron-fluid jumbotrontest">
    <div class="container img-background">
      <h1 class="display-4 bold">Basket UPM</h1>
      <p class="lead">Las mejores canchas de Madrid</p>
    </div>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/canasta.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Entrenamiento</h2>
        <p>Apúntate a nuestros entrenamientos y conviértete en todo un All Star.</p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/trofeo.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Campeonato UPM</h2>
        <p>Crea un equipo y participa en los campeonatos anuales de la UPM.</p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/polideportivo.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Reserva de pistas</h2>
        <p>Reserva una de nuestras pistas para jugar con tus amigos o entrenar con tu equipo.</p>
      </div>
    </div>